html,
body
{
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1
{
  font-size: 5vw;
}

.title
{
  text-align: center;
  font-family: "Verdana";
}

.container
{
  width: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: row;
}

.cardContainer
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardBackgroundNoGrow
{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Verdana";
  font-weight: bold;
  color: white;
}
.cardBackground
{
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Verdana";
  font-weight: bold;
  color: white;
  transition: all 250ms ease;
}
.cardBackground:hover
{
  width: 100%;
  height: 100%;
}

.card
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Verdana";
  font-weight: bold;
  color: white;
}
