html,
body
{
  height: 100%;
}

.title
{
  text-align: center;
  font-family: "Verdana";
}

.container
{
  width: 100%;
  height: 100%;
  position: relative;
}

.cardContainer
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card
{
  background-color: #aaccff;
  border-radius: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Verdana";
  font-weight: bold;
  color: white;
}